
  <h1 style="text-align:center">Dashboard</h1>
        <div class="flex flex-row bg-lightgrey p-3 justify-content-between">             
            <div id="myBtnContainer">
               <a href="{{ path('dashboard') }}">reservation</a>
                
                <a href="{{ path('ccproduct') }}">click</a>
               </div>
            </div>

  