{% extends 'layout.html.twig' %}

{% block main %}
    <main>
        <h1>Tu prend la tête main</h1>
        <button id="checkout-button">Checkout</button>
    </main>
{% endblock %}

{% block JsEnfants %}

<script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>

<script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript">
      // Create an instance of the Stripe object with your publishable API key
      var stripe = Stripe('pk_test_51IF5egHLEMh2ff6YYgsx92MHwLI0mmPU8sdL2KaiP99m5rEMX7TIOmND651ugkBiIKBFbeZftxZyqlket7qHBdvC002i19uWZe');
      var checkoutButton = document.getElementById('checkout-button');
    if(checkoutButton){
      checkoutButton.addEventListener('click', function() {
        // Create a new Checkout Session using the server-side endpoint you
        // created in step 3.
        fetch('/create-checkout-session', {
          method: 'POST',
        })
        .then(function(response) {
          return response.json();
        })
        .then(function(session) {
          return stripe.redirectToCheckout({ sessionId: session.id });
        })
        .then(function(result) {
          // If `redirectToCheckout` fails due to a browser or network
          // error, you should display the localized error message to your
          // customer using `error.message`.
          if (result.error) {
            alert(result.error.message);
          }
        })
        .catch(function(error) {
          console.error('paiementFailed', error);
        });
      });
    }
</script>

{% endblock %}


