{% extends 'layout.html.twig' %}

{% block main %}

    {% for product in products %}

    <div class="card" style="width: 18rem;">
        <img src="{{product.image}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{product.title}}</h5>
            <p class="card-text">{{product.price}}€</p>
            <a href="" class="btn btn-primary">Ajouter au panier</a>
        </div>
    </div>

    {%  endfor %}

{% endblock %}
