{% extends 'layout.html.twig' %}

{% block JsEnfants %}
<script defer src="https://use.fontawesome.com/releases/v5.15.1/js/all.js"></script>
{% endblock %}

{% block main %}
    <div class="conteneurContact">
      <h1>Contact</h1>
      <div class="contact">
        <div class="horaire">
          <p>Ouvert 5j/7</p>
          <p>de 12h00 à 14h30</p>
          <p>de 19h00 à 23h30</p>
        </div>
        <br>     
        <div class="adresse">
          <p>70 rue du Vertbois</p>
          <p>75003 Paris</p>
          <p>France</p>
          <p>+33 1 49 79 86 54</p>
          
        </div>
      </div>  
      <p>contact@alabaguette.com</p>     
    </div>  


 {% endblock %}

{% block footer %}
 <section>
        <div class="socialmedia">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        </div>   
        <p>&copy; 2021 A la Baguette.com Tous droits réservés. Mentions légales.</p>
    </section> 
 {% endblock %}
 